<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>UI Files</string>
	<key>Description</key>
	<string>Gerar arquivos para a camada de UI</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>O nome da Scene (Tela) para usar como prefixo dos arquivos</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>Nome da Scene</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___Protocols</string>
			<key>Description</key>
			<string>O nome Protocolos</string>
			<key>Identifier</key>
			<string>serviceProtocolsName</string>
			<key>Name</key>
			<string>Protocols Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewController</string>
			<key>Description</key>
			<string>Nome da ViewController</string>
			<key>Identifier</key>
			<string>viewControllerName</string>
			<key>Name</key>
			<string>UIViewController Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewModel</string>
			<key>Description</key>
			<string>Nome do ViewModel</string>
			<key>Identifier</key>
			<string>viewModelName</string>
			<key>Name</key>
			<string>ViewModel Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewProtocol</string>
			<key>Description</key>
			<string>Protocolo da UIView</string>
			<key>Identifier</key>
			<string>viewProtocolName</string>
			<key>Name</key>
			<string>ViewProtocol Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___View</string>
			<key>Description</key>
			<string>UIView root da UIViewController</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>UIView Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewState</string>
			<key>Description</key>
			<string>Enum de estados da UIViewController</string>
			<key>Identifier</key>
			<string>viewStateName</string>
			<key>Name</key>
			<string>ViewState Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewEntity</string>
			<key>Description</key>
			<string>Model com dados da UIView</string>
			<key>Identifier</key>
			<string>viewEntityName</string>
			<key>Name</key>
			<string>ViewEntity Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>Template criado por Alexandre Robaert para Tribo de Seguros</string>
</dict>
</plist>
