<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Domain Files</string>
	<key>Description</key>
	<string>Gerar arquivos para a camada de Service</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>O nome do módulos para usar como prefixo dos arquivos</string>
			<key>Identifier</key>
			<string>moduleName</string>
			<key>Name</key>
			<string>Nome do Módulo</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Service</string>
			<key>Description</key>
			<string>O nome do Serviço</string>
			<key>Identifier</key>
			<string>serviceName</string>
			<key>Name</key>
			<string>Service Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_moduleName:identifier___Request</string>
			<key>Description</key>
			<string>Request para Service</string>
			<key>Identifier</key>
			<string>requestName</string>
			<key>Name</key>
			<string>Service Request Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>0</string>
	<key>Summary</key>
	<string>Template criado por Alexandre Robaert para Tribo de Seguros</string>
</dict>
</plist>
